.card-box {
    transition: all 0.2s;
    border: solid 2px #dfdfdf;
    cursor: default;
}

.card-box:hover {
    border: solid 1px #dfdfdf;
    box-shadow: 5px 5px 10px 2px #ccc;
    transform: scale(1.01);
}

.link-hover {
    transition: all 0.3s;
}

.link-hover:hover {
    transform: scale(1.05);
}

.active {
    transform: scale(1.05);
}

.anchor-tags {
    text-decoration: none;
}

.anchor-tags:hover {
    text-decoration: none;
}

.input-tag {
    width: 50%;
    height: 50px;
    border: 0;
    border-bottom: solid 2px #007bff;
    padding-left: 8px;
    outline: none;
    background-color: transparent;
    margin-right: 20px;
    color: rgb(0, 0, 0) !important;
    transition: all 0.3s;
}

.input-tag:hover {
    border-bottom: solid 2px #002bb9;
}

.input-tag:focus {
    border-bottom: solid 2px #002bb9;
}

button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-weight: 100;
    transition: all 0.1s;
}
  
button:hover {
    transform: scale(1.05);  
}

button:active {
    outline: none;
    transform: scale(0.8);
}

select {
    width: 50%;
    border: 0;
    border-bottom: solid 2px #007bff;
    margin-right: 20px;
}

select:hover {
    border-bottom: solid 2px #002bb9;
}

.margin-main {
    padding-top: 130px;
}

.info-container {
    padding: 0;
}

.aqi-div {
    box-shadow: 2px 2px 5px 2px rgb(179, 177, 177);
}